{% load static %}
{% load crispy_forms_tags %}


<!DOCTYPE html>
<html>
	<head>
				
		<title>Inicio</title>
		<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
		<link rel="stylesheet" href="{% static 'admin/css/vendor/select2/select2.css' %}">
        <link rel="stylesheet" href="{% static 'admin/css/autocomplete.css' %}">
        
	</head>
    
	
	<body style="background-color: rgb(240, 243, 243);">
        <header style="position: fixed;top: 0;width: 100%;">
			<div style="background-color: rgb(212, 41, 84);align-items:center;display:flex;justify-content:center;margin-top: 0px;">
				<h1>EMBARQUES-MAQUILA</h1>
			</div>
		</header>
        
        	
		
		<div class="col-12" style="background-color: rgb(240, 243, 243);display:flex;position: static;top: 0px">
            <div class="col-3" style="background-color: rgb(78, 77, 77);align-items:center;display:flex;justify-content:center;  height: 100vh;">
                <ul>
					
                    <li style="list-style-type: none;"><a href="/registroTar/" ><h3 style="color: #f6f6f8;">REGISTRAR TARIMAS</h3></a></li>
                    
				</ul>	

            </div>
								
			


           
			<div class="col-9"  style="background-color: rgb(240, 243, 243);align-items:center;display:flex;justify-content:center;  height: 160vh;" >
               
               
                


                <div class="col-11" style="margin-top: 1300px;"> 
                      
                                                          
                        
                    <form action="" class="formulario_contacto" method="POST" enctype="multipart/form-data">                                           
                       
                        
                        <div class="col-12"  style="background-color: rgb(240, 23, 77);align-items:center;display:flex;justify-content:center;">                               	
                            <hi>REGISTRO DE CARGA</hi>				
                        </div>
                        <br>
                        <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">                               	
                            <hi>DATOS DEL CLIENTE</hi>				
                        </div>
                        <br>
                        <div class="col-12">
                                            
                            <div>{% csrf_token %}{{ form.nombre_cliente.label }}</div>
                            <div  style="align-items:center;display:flex;justify-content:center;"> 
                                <div class="col-10">{% csrf_token %}{{ form.nombre_cliente }}</div>
                                <div class="col-2"><button type="button"   class="btn btn-primary" data-bs-toggle="modal" data-bs-target="cliente-modal" id="buscar"  >BUSCAR</button></div> 
                            </div>                          
                            <div>{% csrf_token %}{{ form.direccion_fiscal.label }}</div>
                            <div>{% csrf_token %}{{ form.direccion_fiscal}}</div>
                            <div>{% csrf_token %}{{ form.contacto_dir.label }}</div>
                            <div>{% csrf_token %}{{ form.contacto_dir}}</div>
                            <br>					
                                    
                        <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                            <hi>DATOS DEL TRASNPORTE</hi>											
                        </div>
                        <br>
                        <div>
                            <div style="align-items:center;display:flex;justify-content:center;">
                                
                                <div class="col-6" style="justify-content:left;">
                                    
                                    <div>{% csrf_token %}{{ form.empresa_transportadora.label }}</div>
                                    <div>{% csrf_token %}{{ form.empresa_transportadora }}</div>
                                    <div>{% csrf_token %}{{ form.nombre_transportista.label }}</div>
                                    <div>{% csrf_token %}{{ form.nombre_transportista }}</div>
                                    <div>{% csrf_token %}{{ form.licencia.label }}</div>
                                    <div>{% csrf_token %}{{ form.licencia }}</div>				
                                    <div>{% csrf_token %}{{ form.certificado_fumigacion.label }}</div>
                                    <div>{% csrf_token %}{{ form.certificado_fumigacion }}</div>				
                                    
                                </div>
                
                                <div class="col-6" style="justify-content:center;">
                                            
                                    <div>{% csrf_token %}{{ form.tracto_camion.label }}</div>
                                    <div>{% csrf_token %}{{ form.tracto_camion }}</div>
                                    <div>{% csrf_token %}{{ form.placas_unidad.label }}</div>
                                    <div>{% csrf_token %}{{ form.placas_unidad }}</div>
                                    <div>{% csrf_token %}{{ form.placas_caja.label }}</div>
                                    <div>{% csrf_token %}{{ form.placas_caja }}</div>				
                                    <div>{{ form.numero_caja.label }}</div>
                                    <div>{% csrf_token %}{{ form.numero_caja}}</div>		
                                </div>						
                            </div>
                            <br>
                        </div>
                        <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                            <hi>PRODUCTO ENTREGADO</hi>											
                        </div>
                        <br>
                        <div>
                            <div style="align-items:center;display:flex;justify-content:center;">
                                
                                <div class="col-6" style="justify-content:left;">
                                                    
                                    <div>{% csrf_token %}{{ form.producto.label }}</div>
                                    <div>{% csrf_token %}{{ form.producto }}</div>
                                    <div>{% csrf_token %}{{ form.cantidad_charolas.label }}</div>
                                    <div>{% csrf_token %}{{ form.cantidad_charolas }}</div>
                                </div>
                
                                <div class="col-6" style="justify-content:center;">
                                                    
                                    <div>{% csrf_token %}{{ form.numero_lote.label }}</div>
                                    <div>{% csrf_token %}{{ form.numero_lote }}</div>
                                    <div>{% csrf_token %}{{ form.cantidad_tarimas.label }}</div>
                                    <div>{% csrf_token %}{{ form.cantidad_tarimas }}</div>
                                </div>
                                
                            </div>
                            <br>










                        </div> 
                        <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                            <hi>PUNTOS DE REVISION</hi>											
                        </div>
                        <div>
                            <div style="display:flex">
                                
                                <div class="col-4" style="justify-content:left;">
                                    <br>
                                    <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                                        <hi>PISOS EN BUEN ESTADO</hi>											
                                    </div>
                                                    
                                    <div>{% csrf_token %}{{ form.sin_hoyos.label }}</div>
                                    <div>{% csrf_token %}{{ form.sin_hoyos }}</div>
                                    <div>{% csrf_token %}{{ form.sin_parches.label }}</div>
                                    <div>{% csrf_token %}{{ form.sin_parches }}</div>
                                    <div>{% csrf_token %}{{ form.sin_salientes.label }}</div>
                                    <div>{% csrf_token %}{{ form.sin_salientes }}</div>
                                    <div>{% csrf_token %}{{ form.sin_laminas.label }}</div>
                                    <div>{% csrf_token %}{{ form.sin_laminas }}</div>
                                </div>
                
                                <div class="col-4" style="justify-content:center;">
                                    <br>
                                    <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                                        <hi>PUERTAS EN BUEN ESTADO</hi>											
                                    </div>
                                                    
                                    <div>{% csrf_token %}{{ form.puertas_empaques.label }}</div>
                                    <div>{% csrf_token %}{{ form.puertas_empaques }}</div>
                                    <div>{% csrf_token %}{{ form.puertas_hermetico.label }}</div>
                                    <div>{% csrf_token %}{{ form.puertas_hermetico }}</div>
                                    <div>{% csrf_token %}{{ form.puertas_salientes.label }}</div>
                                    <div>{% csrf_token %}{{ form.puertas_salientes }}</div>
                                    <div>{% csrf_token %}{{ form.puertas_laminas.label }}</div>
                                    <div>{% csrf_token %}{{ form.puertas_laminas }}</div>
                                    
                                </div>
                                <div class="col-4" style="justify-content:left;">
                                    <br>
                                    <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                                        <hi>CONDICIONES DE HIGIENE</hi>											
                                    </div>
                                    
                                                    
                                    <div>{% csrf_token %}{{ form.higiene_limpios.label }}</div>
                                    <div>{% csrf_token %}{{ form.higiene_limpios }}</div>
                                    <div>{% csrf_token %}{{ form.higiene_olores.label }}</div>
                                    <div>{% csrf_token %}{{ form.higiene_olores }}</div>
                                    <div>{% csrf_token %}{{ form.higiene_plagas.label }}</div>
                                    <div>{% csrf_token %}{{ form.higiene_plagas }}</div>
                                </div>
                
                              
                                
                            </div>
                            <br>
                            <div style="display:flex">
                                
                                <div class="col-4" style="justify-content:left;">
                                    <br>
                                    <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                                        <hi>PAREDES EN BUEN ESTADO</hi>											
                                    </div>
                                                    
                                    <div>{% csrf_token %}{{ form.paredes_hoyos.label }}</div>
                                    <div>{% csrf_token %}{{ form.paredes_hoyos }}</div>
                                    <div>{% csrf_token %}{{ form.paredes_parches.label }}</div>
                                    <div>{% csrf_token %}{{ form.paredes_parches }}</div>
                                    <div>{% csrf_token %}{{ form.paredes_salientes.label }}</div>
                                    <div>{% csrf_token %}{{ form.paredes_salientes }}</div>
                                    <div>{% csrf_token %}{{ form.paredes_laminas.label }}</div>
                                    <div>{% csrf_token %}{{ form.paredes_laminas }}</div>
                                </div>
                
                                <div class="col-4" style="justify-content:center;">
                                    <br>
                                    <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                                        <hi>TECHOS EN BUEN ESTADO</hi>											
                                    </div>
                                                    
                                    <div>{% csrf_token %}{{ form.techos_hoyos.label }}</div>
                                    <div>{% csrf_token %}{{ form.techos_hoyos }}</div>
                                    <div>{% csrf_token %}{{ form.techos_salientes.label }}</div>
                                    <div>{% csrf_token %}{{ form.techos_salientes }}</div>
                                    <div>{% csrf_token %}{{ form.techos_laminas.label }}</div>
                                    <div>{% csrf_token %}{{ form.techos_laminas }}</div>                                
                                    
                                </div>
                                <div class="col-4" style="justify-content:left;">
                                    <br>
                                    <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                                        <hi>CONDICIONES EXTERNAS</hi>											
                                    </div>
                                    
                                                    
                                    <div>{% csrf_token %}{{ form.externas_llantas.label }}</div>
                                    <div>{% csrf_token %}{{ form.externas_llantas }}</div>
                                    <div>{% csrf_token %}{{ form.externas_refaccion.label }}</div>
                                    <div>{% csrf_token %}{{ form.externas_refaccion }}</div>
                                    <div>{% csrf_token %}{{ form.externas_patines.label }}</div>
                                    <div>{% csrf_token %}{{ form.externas_patines }}</div>
                                    <div>{% csrf_token %}{{ form.externas_luces.label }}</div>
                                    <div>{% csrf_token %}{{ form.externas_luces }}</div>
                                    <div>{% csrf_token %}{{ form.externas_tanque.label }}</div>
                                    <div>{% csrf_token %}{{ form.externas_tanque }}</div>
                                </div>
                
                              
                                
                            </div>
                            <br>















                        
                        <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                            <hi>CONDICIONES VISUALES DE LA UNIDAD</hi>											
                        </div>
                        <br>
                        <div class="col-12" style="align-items:center;display:flex;justify-content: space-between;" >	
                                            
                            <div>
                                <div>{% csrf_token %}{{ form.visual_paredes.label }}</div>
                                <div>{% csrf_token %}{{ form.visual_paredes }}</div>
                                <div>
                                    <img src="../media/{{ form.visual_paredes.value }}" alt="Mi imagen" width="200" height="200" >
                                </div>                                
                            </div>
                            <div>
                                <div>{% csrf_token %}{{ form.visual_piso.label }}</div>
                                <div>{% csrf_token %}{{ form.visual_piso }}</div>
                                <div>
                                    <img src="../media/{{ form.visual_piso.value }}" alt="Mi imagen" width="200" height="200" >
                                </div>
                            </div>	
                            <div>
                                <div>{% csrf_token %}{{ form.visual_techo.label }}</div>
                                <div>{% csrf_token %}{{ form.visual_techo }}</div>	
                                <div>
                                    <img src="../media/{{ form.visual_techo.value }}" alt="Mi imagen" width="200" height="200" >
                                </div>                                
                            </div>            
                        																	
                        </div>
                        <br>
                        <br>
                        <br>
                        <div style="align-items:center;display:flex;justify-content: space-between;">
                            
                            <div>{% csrf_token %}{{ form.hora_llegada.label }}</div>							
                            <div>{% csrf_token %}{{ form.hora_inicio_carga.label }}</div>
                
                        </div>
                        <div style="align-items:center;display:flex;justify-content: space-between;">
                            
                            
                            <div>{% csrf_token %}{{ form.hora_llegada }}</div>					
                            <div>{% csrf_token %}{{ form.hora_inicio_carga}}</div>
                
                        </div>
                        <br>
                        <div class="col-12"  style="background-color: rgb(189, 189, 194);align-items:center;display:flex;justify-content:center;">
                            <hi>CONDICIONES VISUALES DEL PRODUCTO DE ENTREGA</hi>											
                        </div>
                        <br>
                        <div style="align-items:center;display:flex;justify-content:center;justify-content: space-between;">							
                        
                            <div>
                                <div>{% csrf_token %}{{ form.visual_tarima1.label }}</div>
                                <div>{% csrf_token %}{{ form.visual_tarima1 }}</div>
                                <div>
                                    <img src="../media/{{ form.visual_tarima1.value }}" alt="Mi imagen" width="200" height="200" >
                                </div>    
                            </div>	
                            <div>
                                <div>{% csrf_token %}{{ form.visual_mitad_carga.label }}</div>
                                <div>{% csrf_token %}{{ form.visual_mitad_carga }}</div>
                                <div>
                                    <img src="../media/{{ form.visual_mitad_carga.value }}" alt="Mi imagen" width="200" height="200" >
                                </div>    
                            </div>
                            <div>
                                <div>{% csrf_token %}{{ form.visual_fin_carga.label }}</div>
                                <div>{% csrf_token %}{{ form.visual_fin_carga }}</div>
                                <div>
                                    <img src="../media/{{ form.visual_fin_carga.value }}" alt="Mi imagen" width="200" height="200" >
                                </div>                                   	
                            </div>                           										
                        </div>
                        <br>
                        <br>

                        
                        <div style="align-items:center;display:flex;justify-content:center;justify-content: space-between;">
                            <div></div>
                            
                            <div>
                                <div>{% csrf_token %}{{ form.visual_cerrado_unidad.label }}</div>
                                <div>{% csrf_token %}{{ form.visual_cerrado_unidad }}</div>
                                <div>
                                    <img src="../media/{{ form.visual_cerrado_unidad.value }}" alt="Mi imagen" width="200" height="200" >
                                </div>    	
                            </div>
                            <div></div>
                            	
                        </div>	                       
                        <br>
                        <div style="align-items:center;display:flex;justify-content: space-between;">
                            
                            <div>{% csrf_token %}{{ form.hora_fin_carga.label }}</div>							
                            <div>{% csrf_token %}{{ form.hora_salida.label }}</div>
                
                        </div>
                        <div style="align-items:center;display:flex;justify-content: space-between;">
                            
                            
                            <div>{% csrf_token %}{{ form.hora_fin_carga}}</div>					
                            <div>{% csrf_token %}{{ form.hora_salida}}</div>
                
                        </div>								
                        
                        <br>								
                        </div>
                        <br>
                        <div style="align-items:center;display:flex;justify-content:center;">
                            <button type="submit" id="btnEnviar" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                    <div class="container py-4">

                        <div class="modal fade" id="cliente-modal"  aria-labelledby="modal" data-backdrop="static">
                            <div class="modal-dialog modal-dialog-scroliable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" >LISTA DE CLIENTES</h5>
                                        <button class="btn-close"  data-dismiss="modal"></button>
                                    </div>
                                    <div class="modal-body">
                                    <!-- colocando boton para filtrar la tabla -->
                                    <form method="get" action="{% url 'consulta_clientes' %}">
                                        <div style="align-items:center;display:flex;justify-content:center;justify-content: space-between;">
                                            <div >
                                                <input  text="texts" name="name" id="name">
                                            </div>
                                            <div >
                                                <div class="col-2"><button type="button"   class="btn btn-primary"  id="buscarr" data-url="{% url 'consulta_clientes' %}"  >BUSCAR</button></div>   
                                            </div>
                                        </div>

                                    </form>
                                    <!-- Aquí puedes poner el contenido de tu ventana modal, como la lista de clientes -->
                                    <table class="table table-bordered" id="tableID">
                                        <thead>
                                          <tr id="1">
                                            <th>id</th>
                                            <th>CLIENTE</th>
                                            <th>DIRECCION</th>
                                            <th>CONTACTO</th>
                                            
                                            
                                            <!--<th>IMAGEN</th>-->
                                          </tr>
                                            </thead>
                                            <tbody>
                                            {% for cliente in clientes %}
                                            <tr>
                                                <td>{{ cliente.id }}</td>
                                                <td>{{ cliente.nombre_cliente }}</td>
                                                <td>{{ cliente.direccion_fiscal }}</td>
                                                <td>{{ cliente.contacto_dir}}</td> 
                                                	
                                            {% endfor %}
                                                            
                                            </tbody>
                                        </table>  
                                        <div >
                                            <div  class="btn btn-primary" id="guardarr" >GUARDAR</button></div>   
                                        </div>                                      
                                    </div>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
			</div> 
		</div>
        
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <script>
       // Esto abre el modal cuando se hace clic en el botón BUSCAR
        $("#buscarr").click(function() {
            // Obtener la URL de la vista del atributo data-url
            var url = $(this).data("url");
            // Enviar una solicitud AJAX a la URL
            $.ajax({
                //url: url, // La URL de la vista
                url: url + "?name=" + $("#name").val(), // La URL de la vista con el parámetro name
                type: "GET", // El método de envío
                dataType: "json", // El tipo de datos que se reciben
                success: function(data) { // La función que se ejecuta si la solicitud tiene éxito
                    // Crear una variable para almacenar el contenido de la tabla
                    var tableContent = "";
                    // Recorrer los datos y agregarlos a la variable como filas de la tabla
                    $.each(data, function(index, cliente) {
                        tableContent += "<tr id='" + cliente.id + "' >" +
                                        "<td>" + cliente.id + "</td>" +
                                        "<td>" + cliente.nombre_cliente + "</td>" +
                                        "<td>" + cliente.direccion_fiscal + "</td>" +
                                        "<td>" + cliente.contacto_dir + "</td>" +
                                        "</tr>";
                    });
                   // Insertar el contenido de la tabla en el cuerpo de la tabla
                 $("#cliente-modal .modal-body table tbody").html(tableContent);  
                 ////////
                  // Mostrar el modal
                  // Mostrar el modal
                  $("#cliente-modal").modal("show");
                     // Crear una variable para almacenar el color de fondo original de las filas
                    var originalColor = $("#cliente-modal .modal-body table tr").css("background-color");
                    // Crear una variable para almacenar el color de resaltado que se quiere usar
                    var highlightColor = "gray";
                    // Asignar un evento click a las filas de la tabla
                    $("#cliente-modal .modal-body table").on("click", "tr", function() {                    
                        // Quitar la clase selected a todas las filas
                        $("#cliente-modal .modal-body table tr").removeClass("selected");
                        // Añadir la clase selected a la fila clicada
                        $(this).addClass("selected");
                        // Cambiar el color de fondo de las filas según tengan o no la clase selected
                        $("#cliente-modal .modal-body table tr").css("background-color", function() {
                            return $(this).hasClass("selected") ? highlightColor : originalColor;
                        });
                         // Asignar el id de la fila seleccionada a la variable global
                         idSeleccionado = $(this).attr('id');
                    });
                },
            });
        }); 

         // Esto asigna un evento click al botón GUARDAR
         $(document).ready(function() {
                $("#guardarr").click(function() {                    
                    // Obtener la fila que tiene la clase selected
                    var fila = $("#cliente-modal .modal-body table").find("tr.selected");
                    //var fila = $("#tableID tr.selected");
                    // Si hay una fila seleccionada, obtener su id
                    if (fila.length > 0) {
                    var id = fila.attr('id');
                    

                        $.ajax({
                        url: "{% url 'consulta_cliente' %}", // La URL de la vista que devuelve los datos del cliente
                        type: "GET",
                        data: {"id": id}, // El id del cliente
                        dataType: "json", // El tipo de datos que se reciben
                        success: function(data) { // La función que se ejecuta si la solicitud tiene éxito
                            // Rellenar los campos del formulario principal con los datos del cliente
                            $("#nombre").val(data.nombre_cliente); // El campo nombre del formulario
                            $("#direccion").val(data.direccion_fiscal); // El campo direccion del formulario
                            $("#contacto").val(data.contacto_dir); // El campo contacto del formulario
                            // Cerrar la ventana modal
                            $("#cliente-modal").modal("hide");
                        },
                        error: function(error) { // La función que se ejecuta si la solicitud falla
                            // Mostrar un mensaje de error
                            alert("Error: " + error);
                        }
                        });
                    } else {
                        // Si no hay un id, mostrar un mensaje de error
                        alert("No hay ningún cliente seleccionado");
                    
                    }
                });
            });
        </script>	
        <script>
            // Esto abre el modal cuando se hace clic en el botón BUSCAR
            $("#buscar").click(function() {
              $("#cliente-modal").modal("show");
            });           
          </script>
	</body>
</html>









